/*CSS - Cascading Style Sheets*/

*{ /*Configuração global da página. É tipo um reset.*/
    margin: 0; /*Espaçamento externo*/
    padding: 0; /*Espaçamento interno*/
    box-sizing: border-box; /*Limita o conteúdo dentro do espaço da tela.*/
    
}

.body{
    font-size: 16px;
}

nav{
    background-color: cadetblue; /*Cor de fundo*/
    width: 100%; /*Largura da tela*/
    height: 5rem; /*Altura da tela | rem é uma unidade de medida relativa (se adapta ao tamanho da tela)*/
}

.image{
    width: 3%;
    height: 3%;
    
    
}
.ul_1{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selecao1{
    background-color: brown;
    width: 100%;
    height: 30rem;
    
    display: flex; /*Esse display flex faz o section ficar flexível.*/
    flex-direction: row; /*Com o flex-direction eu posso trabalhar a organização dos elemento. | row = ao lado | column = em baixo.*/
    padding: 5rem;
    
    justify-content: center; /* ajusta eixo vertical */
    align-items: center;     /* ajusta eixo horizontal */
    gap: 1rem; /* espaçamento entre os itens do flexbox */
    flex-wrap: wrap;
}

.div2{
    width: 25%;
    height: 8rem;
    background-color: rgb(226, 192, 43);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

#main-footer{
    background-color: cadetblue;
    width: 100%;
    height: 5rem;
    
}

/*
1 rem = 16px
medidas relativas: rem, %
----medidas fixas: px
*/